input[type="text"] {
  width: 100%;
  outline: 0 none;
  position: relative;
  transition: all 0.3s;
  color: $black;
  text-align: left;
  font-weight: 400;
  font-family: $font;
  font-size: 18px;
  background-color: rgb(243 244 246);
  text-transform: none;
  border-radius: 20px;
  border: 1px $black solid;
  line-height: 1;
  padding: 10px 15px;
  &::placeholder {
    color: #7d7d7d;
    font-size: 16px;
    @media only screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }

  &[disabled],
  &[disabled="disabled"] {
    cursor: not-allowed;
    background-color: #bdbdbd;
  }
}


button,
.btn {
  outline: 0 none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
  letter-spacing: 0;
  text-decoration: none !important;
  border: none;
  line-height: 1.23;
  padding: 10px;
  font-size: 14px;
  min-width: 100px;
  text-align: center;
  background-color: #f3f4f6;
  font-weight: 600;
  font-family: $font;
  border-radius: 100px;
  text-transform: none;
  color: $black;
  &:hover {
    background: #353589;
    color: $white;
  }

  &[disabled],
  &[disabled="disabled"] {
    cursor: not-allowed;
  }
}
